<%= form_with(model: authors_user) do |form| %>
  <% if authors_user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authors_user.errors.count, "error") %> prohibited this authors_user from being saved:</h2>

      <ul>
        <% authors_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
