<p style="color: green"><%= notice %></p>

<%= render @authors_user %>

<div>
  <%= link_to "Edit this user", edit_authors_user_path(@authors_user) %> |
  <%= link_to "Back to users", authors_users_path %>

  <%= button_to "Destroy this user", @authors_user, method: :delete %>
</div>
