<p style="color: green"><%= notice %></p>

<%= render @authors_article %>

<div>
  <%= link_to "Edit this article", edit_authors_article_path(@authors_article) %> |
  <%= link_to "Back to articles", authors_articles_path %>

  <%= button_to "Destroy this article", @authors_article, method: :delete %>
</div>
